TrackJobAPI/Connected Services/TrackJobServices/TrackJobServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrackJobServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_STMTrackJobService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="http://aosstd:8101/DynamicsAx/Services/TrackJobServices?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_STMTrackJobService" type="i0:STMTrackJobService">
    <wsp:PolicyReference URI="#NetTcpBinding_STMTrackJobService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getKeys">
      <soap12:operation soapAction="http://tempuri.org/STMTrackJobService/getKeys" style="document" />
      <wsdl:input name="STMTrackJobServiceGetKeysRequest">
        <soap12:header message="i0:STMTrackJobServiceGetKeysRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="STMTrackJobServiceGetKeysResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://tempuri.org/STMTrackJobService/update" style="document" />
      <wsdl:input name="STMTrackJobServiceUpdateRequest">
        <soap12:header message="i0:STMTrackJobServiceUpdateRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="STMTrackJobServiceUpdateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap12:operation soapAction="http://tempuri.org/STMTrackJobService/find" style="document" />
      <wsdl:input name="STMTrackJobServiceFindRequest">
        <soap12:header message="i0:STMTrackJobServiceFindRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="STMTrackJobServiceFindResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://tempuri.org/STMTrackJobService/delete" style="document" />
      <wsdl:input name="STMTrackJobServiceDeleteRequest">
        <soap12:header message="i0:STMTrackJobServiceDeleteRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="STMTrackJobServiceDeleteResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap12:operation soapAction="http://tempuri.org/STMTrackJobService/create" style="document" />
      <wsdl:input name="STMTrackJobServiceCreateRequest">
        <soap12:header message="i0:STMTrackJobServiceCreateRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="STMTrackJobServiceCreateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <soap12:operation soapAction="http://tempuri.org/STMTrackJobService/findKeys" style="document" />
      <wsdl:input name="STMTrackJobServiceFindKeysRequest">
        <soap12:header message="i0:STMTrackJobServiceFindKeysRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="STMTrackJobServiceFindKeysResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <soap12:operation soapAction="http://tempuri.org/STMTrackJobService/getChangedKeys" style="document" />
      <wsdl:input name="STMTrackJobServiceGetChangedKeysRequest">
        <soap12:header message="i0:STMTrackJobServiceGetChangedKeysRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="STMTrackJobServiceGetChangedKeysResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap12:operation soapAction="http://tempuri.org/STMTrackJobService/read" style="document" />
      <wsdl:input name="STMTrackJobServiceReadRequest">
        <soap12:header message="i0:STMTrackJobServiceReadRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="STMTrackJobServiceReadResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackJobServices">
    <wsdl:port name="NetTcpBinding_STMTrackJobService" binding="tns:NetTcpBinding_STMTrackJobService">
      <soap12:address location="net.tcp://aosstd:8201/DynamicsAx/Services/TrackJobServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://aosstd:8201/DynamicsAx/Services/TrackJobServices</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>adminax@STMM.LOCAL</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>