TrackJobAPI/Connected Services/TrackJobLineService/TrackJobLineService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/STMTrackJobLineAPI" />
  <xs:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element name="STMTrackJobLineAPIServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q1:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q2:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/STMTrackJobLineAPI" minOccurs="0" ref="q3:STMTrackJobLineAPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q4:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2008/01/documents/STMTrackJobLineAPI" minOccurs="0" ref="q5:STMTrackJobLineAPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q6:EntityKeyList" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2008/01/documents/STMTrackJobLineAPI" minOccurs="0" ref="q7:STMTrackJobLineAPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/STMTrackJobLineAPI" minOccurs="0" ref="q8:STMTrackJobLineAPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMTrackJobLineAPIServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q9:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>