TrackJobAPI/Connected Services/TrackJobLineService/TrackJobLineService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/STMTrackJobLineAPI" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/STMTrackJobLineAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="STMTrackJobLineAPI" type="tns:AxdSTMTrackJobLineAPI" />
  <xs:complexType name="AxdSTMTrackJobLineAPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="STMTrackJobLine" type="tns:AxdEntity_STMTrackJobLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_STMTrackJobLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActEndDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="ActStartDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="Delay" nillable="true" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="DelayPlan" nillable="true" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="OperName" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="OperNo" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="PlanDays" nillable="true" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="PlanEndDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="PlanStartDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="SideDesign" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="StmTrackId" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="TypeDesign" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>