TrackJobAPI/Connected Services/TrackJobLineService/TrackJobLineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd3" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/STMTrackJobLineAPI" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://aosstd:8101/DynamicsAx/Services/TrackJobLineService?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="STMTrackJobLineAPIServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceDeleteRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceDeleteResponse">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIService_delete_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceReadRequest">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceReadRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceReadResponse">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceFindRequest">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceFindRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceFindResponse">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceCreateRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:STMTrackJobLineAPIServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="STMTrackJobLineAPIService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:portType name="STMTrackJobLineAPIService">
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/delete" name="STMTrackJobLineAPIServiceDeleteRequest" message="tns:STMTrackJobLineAPIServiceDeleteRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/deleteResponse" name="STMTrackJobLineAPIServiceDeleteResponse" message="tns:STMTrackJobLineAPIServiceDeleteResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/deleteAifFaultFault" name="AifFaultFault" message="tns:STMTrackJobLineAPIService_delete_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/read" name="STMTrackJobLineAPIServiceReadRequest" message="tns:STMTrackJobLineAPIServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/readResponse" name="STMTrackJobLineAPIServiceReadResponse" message="tns:STMTrackJobLineAPIServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/readAifFaultFault" name="AifFaultFault" message="tns:STMTrackJobLineAPIService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/find" name="STMTrackJobLineAPIServiceFindRequest" message="tns:STMTrackJobLineAPIServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/findResponse" name="STMTrackJobLineAPIServiceFindResponse" message="tns:STMTrackJobLineAPIServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/findAifFaultFault" name="AifFaultFault" message="tns:STMTrackJobLineAPIService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/update" name="STMTrackJobLineAPIServiceUpdateRequest" message="tns:STMTrackJobLineAPIServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/updateResponse" name="STMTrackJobLineAPIServiceUpdateResponse" message="tns:STMTrackJobLineAPIServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/updateAifFaultFault" name="AifFaultFault" message="tns:STMTrackJobLineAPIService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/create" name="STMTrackJobLineAPIServiceCreateRequest" message="tns:STMTrackJobLineAPIServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/createResponse" name="STMTrackJobLineAPIServiceCreateResponse" message="tns:STMTrackJobLineAPIServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STMTrackJobLineAPIService/createAifFaultFault" name="AifFaultFault" message="tns:STMTrackJobLineAPIService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>